# Data Types in python

In [1]:
#1 int  those numbers without decimal
x=100
y=-200
z=0
a=-20
b=30

In [2]:
# 2 float  those numbers with decimal
p=3.142
g=9.8
q=-9.768
t=0.0

In [3]:
# 3 str
a='python'

b="Anil Kokare"

c='''Aakaash Ballewar'''

d="""Jayesh Daswadkar"""

In [4]:
# 4 bool
a=True
b=False

In [5]:
#5 complex
z=2+4j

In [6]:
# 6 list

In [7]:
#comment

In [8]:
# ()------>Parenthesis
# []------>Bracket
# {}------>Braces

In [9]:
my_list=[101,202,303,404,505]

In [10]:
l=[101,102,103,104,105,106] # homogenius data of int

In [11]:
list_names=["Rohith","Amir","Sohail","Anil","Ulhas","Manoj","Saurabh"]
# homogenius data of str

In [12]:
l_float=[3.142, 9.8, 6.58, 9.9, -1.9, -0.5, 0.8, 0.0]
# homogenius data of float

In [13]:
l_het=[100,"Python",56894.50]
#heterogenius data

In [14]:
l_dup=[100,100,100,"Saurav","Sachin","Sachin","Jadeja","Akash"]
# duplicate elements/objects are allowed in list

In [15]:
print(l_dup)

[100, 100, 100, 'Saurav', 'Sachin', 'Sachin', 'Jadeja', 'Akash']

In [16]:
print(list_names)

['Rohith', 'Amir', 'Sohail', 'Anil', 'Ulhas', 'Manoj', 'Saurabh']

# List Data Structure

If we want to represent a group of individual objects as a single entity where insertion 
order preserved and duplicates are allowed, then we should go for List.

insertion order preserved.
**Lists are used to store multiple items in a single variable.**

**duplicate objects are allowed**

**heterogeneous objects are allowed.**

List is dynamic because based on our requirement we can increase the size and decrease the size.

**In List the elements will be placed within square brackets and with comma seperator.**

We can differentiate duplicate elements by using index and we can preserve insertion 
order by using index. Hence index will play very important role.

Python supports both positive and negative indexes. +ve index means from left to right 
where as negative index means right to left

In [17]:
ml=[100,"A","B",20.234, 30+40j,True,True,"A"]

List objects are mutable.i.e we can change the content.

mutable----->changeble
immutable---->we can't change

# Accessing elements of List:

We can access elements of the list either by using index or by using slice operator(:)

1. By using index:
List follows zero based index. ie index of first element is zero.
List supports both +ve and -ve indexes. +ve index meant for Left to Right -ve index meant for Right to Left

In [1]:
l=[101,202,303,404,505,606]

In [2]:
l[0]

101

In [6]:
l[1]

202

In [20]:
l[-3]

404

In [21]:
print(l[5])

606

In [22]:
l

[101, 202, 303, 404, 505, 606]

In [23]:
print(l[-1])

606

In [24]:
print(l[10])

IndexError: list index out of range

2. By using slice operator:

Syntax:
list2= list1[start:stop:step]
start ==>it indicates the index where slice has to start default value is 0
stop ===>It indicates the index where slice has to end default value is max allowed index of list ie length of the list
step ==>increment value default value is 1

In [1]:
n=[10,11,22,33,44,55,66,77,88,99,100]

In [26]:
n[1:8:1]

[11, 22, 33, 44, 55, 66, 77]

In [27]:
n[1:8:2]

[11, 33, 55, 77]

In [28]:
n[1:8:3]

[11, 44, 77]

In [29]:
n

[10, 11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [30]:
print(n[2:7:2])

[22, 44, 66]

In [31]:
n

[10, 11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [32]:
len(n)

11

In [ ]:
# [start:stop:step]

In [33]:
print(n[4::2])

[44, 66, 88, 100]

In [34]:
print(n[4:11:2])

[44, 66, 88, 100]

In [35]:
print(n[3:7])

[33, 44, 55, 66]

In [36]:
print(n[3:7:1])

[33, 44, 55, 66]

In [37]:
print(n[8:2:-2])

[88, 66, 44]

In [38]:
print(n[8:2:2])

[]

In [39]:
print(n[4:65])

[44, 55, 66, 77, 88, 99, 100]

In [40]:
len(n)

11

In [41]:
# n[11]

In [42]:
n

[10, 11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [43]:
n[::-1]

[100, 99, 88, 77, 66, 55, 44, 33, 22, 11, 10]

In [44]:
n

[10, 11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [45]:
n[:-1:]

[10, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [6]:
n[:9:-1]

[100]

In [47]:
n[-1:-2:-1]

[100]

# List vs mutability:

In [48]:
# mutable----->change
# immutable---->cant change

Once we creates a List object,we can modify its content. Hence List objects are mutable.

In [49]:
n=[101,202,303,404]

In [50]:
n[0]=-99

In [51]:
n

[-99, 202, 303, 404]

In [52]:
# print(n) 
n[1]=-111

In [53]:
print(n)

[-99, -111, 303, 404]

# Traversing the elements of List:

The sequential access of each element in the list is called traversal.

1. By using while loop:

In [54]:
n=[10,11,12,13,14,15,16,17,18,19,20]

In [55]:
n

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [56]:
for i in n:
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [57]:
# for i in n:

for i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [58]:
len(n)

11

In [59]:
i=0             #[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
while i<len(n): 
    print(n[i]) 
    i=i+1

10
11
12
13
14
15
16
17
18
19
20

In [61]:
l=len(n)-1
while l>=0:
    print(n[l])    #[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
    l=l-1

20
19
18
17
16
15
14
13
12
11
10

2. By using for loop:

In [62]:
n=[110,111,112,113,114,115,116,117,118,119,120]

In [63]:
len(n)

11

In [64]:
for i in n: 
    print(i," Ka index---->",n.index(i))

110  Ka index----> 0
111  Ka index----> 1
112  Ka index----> 2
113  Ka index----> 3
114  Ka index----> 4
115  Ka index----> 5
116  Ka index----> 6
117  Ka index----> 7
118  Ka index----> 8
119  Ka index----> 9
120  Ka index----> 10

3. To display only even numbers:

In [65]:
n=[10,11,12,13,14,15,16,17,18,19,20]

In [66]:
# 13 ka +ve index -  len(n)
3-11

-8

In [67]:
n[-8]

13

In [68]:
n[3]

13

In [69]:
for i in n: 
    if i%2==0: 
        print(i)

10
12
14
16
18
20

4. To display elements by index wise:

In [70]:
l=["A","B","C","D"]

In [71]:
import string

In [72]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

# type casting

In [73]:
print(list(string.ascii_lowercase))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [74]:
ls=string.ascii_letters

In [75]:
print(ls)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

In [76]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [77]:
print(string.ascii_letters)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

In [78]:
print(string.ascii_lowercase)

abcdefghijklmnopqrstuvwxyz

In [79]:
print(string.ascii_uppercase)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [80]:
print(string.digits)

0123456789

In [81]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [82]:
# paasword=upper,lower,digit,special

In [83]:
alpha=string.ascii_uppercase
print(alpha,type(alpha))

ABCDEFGHIJKLMNOPQRSTUVWXYZ <class 'str'>

In [84]:
l

['A', 'B', 'C', 'D']

In [85]:
x=len(l) 
x

4

In [86]:
for i in range(x): 
    print(l[i],"is available at positive index: ",i,"and at negative index: ",i-x)

A is available at positive index:  0 and at negative index:  -4
B is available at positive index:  1 and at negative index:  -3
C is available at positive index:  2 and at negative index:  -2
D is available at positive index:  3 and at negative index:  -1

# Important functions/methods of List:
I. To get information about list:

1. len(): returns the number of elements present in the list

In [87]:
n=[10,20,30,40] 
print(len(n))

4

2. count(): It returns the number of occurrences of specified item in the list

In [88]:
n=[101,202,202,202,200,303,300]

In [89]:
n.count(202)

3

In [90]:
n.count(303)

1

In [91]:
n.count(-198)

0

In [92]:
sub=["python","python","maths","maths","maths","maths","C++","Java","Java","C#"]

In [93]:
# nameofthelist.methodname()

In [94]:
sub.count("maths")

4

In [95]:
sub.count("Python")

0

In [96]:
sub.count('python')

2

In [97]:
n

[101, 202, 202, 202, 200, 303, 300]

In [98]:
# list.count(element)

In [99]:
print(n.count(101))

1

In [100]:
print(n.count(202))

3

In [101]:
print(n.count(3))

0

In [102]:
print(n.count(4))

0

# 3. index() method:
# returns the index of first occurrence of the specified item.

In [103]:
n=[101,202,202,222,222,33,33]

In [104]:
# list.index(element)

In [105]:
n.index(202)

1

In [106]:
n=[101,202,202,222,222,33,33]

In [107]:
print(n.index(1))

ValueError: 1 is not in list

In [108]:
n.index(5500)

ValueError: 5500 is not in list

In [109]:
print(n.index(222))

3

In [25]:
print(n.index(33))

5

In [26]:
print(n.index(4))

ValueError: 4 is not in list

Note: If the specified element not present in the list then we will get ValueError.
Hence before index() meth od we have to check whether item present in the list or not by using in operator.

In [111]:
s1='python'
s1.index('z')

ValueError: substring not found

In [ ]:
# membership operator---->in notin
# Identity operrator------>is is not

In [30]:
n

[101, 202, 202, 222, 222, 33, 33]

In [32]:
print( 4 in n)
print(101 in n)

False
True

# II. Manipulating elements of List:

1. append() method:
We can use append() method to add item at the end of the list.

In [33]:
list()

[]

In [34]:
list1=[]

In [35]:
list1.append("A")

In [36]:
list1

['A']

In [37]:
list1.append("B")

In [38]:
list1

['A', 'B']

In [39]:
list1.append("C")

In [40]:
print(list1)

['A', 'B', 'C']

In [41]:
list1.append("Shrikanth")

In [42]:
list1

['A', 'B', 'C', 'Shrikanth']

To add all elements to list upto 100 which are divisible by 10

In [44]:
list11=[]

In [47]:
# list(range(1,100,2))

In [ ]:
# 10,20,30,40,50,60,70,80,90,100

In [48]:
for i in range(0,101,10):
    list11.append(i)

In [49]:
list11

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

2. insert() method:
To insert item at specified index position

In [5]:
n=[101,202,303,404,505]

In [53]:
# n.insert()
# Signature: n.insert(index, object, /)

In [54]:
n.insert(1,'999')

In [55]:
print(n)

[101, '999', 202, 303, 404, 505]

In [7]:
n.insert(-1,999)
n

[101, 202, 303, 404, 999, 999, 505]

In [56]:
n=[1,2,3,4,5]

In [57]:
n.insert(10,"777")

In [59]:
print(n)

[1, 2, 3, 4, 5, '777']

In [60]:
n

[1, 2, 3, 4, 5, '777']

In [61]:
n.insert(-9,"999") 
print(n)

['999', 1, 2, 3, 4, 5, '777']

In [63]:
empty=[]

In [64]:
empty.insert(-1,"fusion")

In [65]:
empty

['fusion']

**Note: If the specified index is greater than max index then element will be inserted at last position.
If the specified index is smaller than min index then element will be inserted at first position.**

**Differences between append() and insert()
  
In List when we add any element it will come in last i.e. it will be last element. ------->append()
In List we can insert any element in particular index number------------------------------>insert()**

3. extend():

**To add all items of one list to another list
l1.extend(l2)
all items present in l2 will be added to l1**

In [97]:
order1=["Paneer Masala","Daal Tadka","Kaaju curry","Daal Makhni"]

In [98]:
order2=["Royal Challenge water","King Fisher water","Budwiser water"]

In [68]:
print(order1+order2)

['Paneer Masala', 'Daal Tadka', 'Kaaju curry', 'Daal Makhni', 'Royal Challenge water', 'King Fisher water', 'Budwiser water']

In [69]:
order1

['Paneer Masala', 'Daal Tadka', 'Kaaju curry', 'Daal Makhni']

In [70]:
order2

['Royal Challenge water', 'King Fisher water', 'Budwiser water']

order1.extend()
Signature: order1.extend(iterable, /)

In [99]:
order1.extend(order2)

In [100]:
print(order1)

['Paneer Masala', 'Daal Tadka', 'Kaaju curry', 'Daal Makhni', 'Royal Challenge water', 'King Fisher water', 'Budwiser water']

In [101]:
print(order2)

['Royal Challenge water', 'King Fisher water', 'Budwiser water']

In [48]:
order=["Paav Bhaaji","Misal Paav","Manchurian","Vada Paav"]

In [49]:
order.extend(["Maggie"])
print(order)

['Paav Bhaaji', 'Misal Paav', 'Manchurian', 'Vada Paav', 'Maggie']

In [46]:
order.extend("Maggie")

In [90]:
print(order)

['Paav Bhaaji', 'Misal Paav', 'Manchurian', 'Vada Paav', 'M', 'a', 'g', 'g', 'i', 'e']

In [91]:
list("Maggie")

['M', 'a', 'g', 'g', 'i', 'e']

In [50]:
t=[12,21]
t.extend("pune")

In [51]:
print(t)

[12, 21, 'p', 'u', 'n', 'e']

In [94]:
t1=["pune"]

In [95]:
t.extend(t1)
print(t)

[12, 21, 'p', 'u', 'n', 'e', 'pune']

In [62]:
t1=[1,2,3,4,5]

In [63]:
t1.extend([999])
print(t1)

[1, 2, 3, 4, 5, 999]

In [64]:
t1.extend("-3.142")  #[-3.142] extend only at values which are convertible to list like string,tuple,set,dict
print(t1)

[1, 2, 3, 4, 5, 999, '-', '3', '.', '1', '4', '2']

In [65]:
t1.extend("My Batch JUNE 2024")

In [66]:
print(t1)

[1, 2, 3, 4, 5, 999, '-', '3', '.', '1', '4', '2', 'M', 'y', ' ', 'B', 'a', 't', 'c', 'h', ' ', 'J', 'U', 'N', 'E', ' ', '2', '0', '2', '4']

In [67]:
t1.extend(True)

TypeError: 'bool' object is not iterable

In [68]:
t1.extend(3+4j)

TypeError: 'complex' object is not iterable

In [79]:
t=[101,202,303]

In [80]:
t.extend([404,505])

In [81]:
t

[101, 202, 303, 404, 505]

In [82]:
t.extend((-1,-2))

In [83]:
t

[101, 202, 303, 404, 505, -1, -2]

In [84]:
t.extend({'a','b'})

In [85]:
t

[101, 202, 303, 404, 505, -1, -2, 'b', 'a']

In [88]:
t.extend({'aaa':1,'bbb':2}) #in case of dict only keys are inserted

In [89]:
t

[101, 202, 303, 404, 505, -1, -2, 'b', 'a', 'aaa', 'bbb', 'aaa', 'bbb']

In [119]:
t.extend(range(5))

In [120]:
t

[101, 202, 303, 404, 505, -1, -2, 'b', 'a', 'aaa', 'bbb', 0, 1, 2, 3, 4]

In [121]:
t.extend(None)

TypeError: 'NoneType' object is not iterable

4. remove() method:

**We can use this method to remove specified item from the list.
If the item present multiple times then only first occurrence will be removed.**

In [32]:
n=[101,202,101,303]

In [33]:
n.remove(101)

In [34]:
print(n)

[202, 101, 303]

If the specified item not present in list then we will get ValueError

In [35]:
n=[10,20,10,30]

In [36]:
n.remove(40)

ValueError: list.remove(x): x not in list

In [37]:
print(n)

[10, 20, 10, 30]

Note: Hence before using remove() method first we have to check specified element
present in the list or not by using in operator.

5. **pop() method:
It removes and returns the last element of the list. 
This is only method which manipulates list and returns some element.**

In [90]:
n=[101,202,303,404]

In [91]:
print(n.pop())

404

In [92]:
n

[101, 202, 303]

In [93]:
print(n.pop()) #shift+tab

303

In [94]:
print(n)

[101, 202]

If the list is empty then pop() function raises IndexError

In [95]:
n=[]
print(n.pop())

IndexError: pop from empty list

Note:
1. pop() is the only function which manipulates the list and returns some value.
2. In general we can use append() and pop() functions to implement stack datastructure by using list,which follows 
LIFO(Last In First Out) order.

In general we can use pop() function to remove last element of the list. 
But we can use to remove elements based on index.
**n.pop(index)===>To remove and return element present at specified index.
n.pop()==>To remove and return last element of the list**

In [102]:
n=[10,20,30,40,50,60] 
print(n.pop()) #60

60

In [103]:
print(n.pop(2))
print(n.pop(-1))

#n.pop()
#Signature: n.pop(index=-1, /)

30
50

In [104]:
n

[10, 20, 40]

In [107]:
n.remove(40)

ValueError: list.remove(x): x not in list

In [108]:
n

[10, 20]

In [111]:
n.pop(3)

IndexError: pop index out of range

In [110]:
n

[10]

In [27]:
print(n.pop(1))

30

In [28]:
n

[10, 50]

In [29]:
n.pop()

50

In [30]:
n

[10]

In [31]:
print(n.pop(-2))

IndexError: pop index out of range

Differences between remove() and pop()

             
             remove()                                                                     pop()                                                                                                                            
1) We can use to remove special element from the List.              1) We can use to remove last element from the List.
2) It can’t return any value.                                       2) It returned removed element.
3) If special element not available then we get VALUE ERROR.        3) If List is empty then we get Error.

Note:
List objects are dynamic. i.e based on our requirement we can increase and decrease the size.
append(),insert() ,extend() ===>for increasing the size/growable nature
remove(), pop() ======>for decreasing the size /shrinking nature

# III. Ordering elements of List:

**1. reverse():
We can use to reverse() order of elements of list. **

In [112]:
n=[101,202,303,404]

In [113]:
n.reverse()

In [114]:
print(n)

[404, 303, 202, 101]

In [115]:
divmod(1449050,73) #(division,reminder)

(19850, 0)

In [116]:
divmod(101,10)

(10, 1)

2. sort() function:
In list by default insertion order is preserved.
If want to sort the elements of list according to default natural sorting order then we should go for sort() method.
For numbers ==>default natural sorting order is Ascending Order
For Strings ==> default natural sorting order is Alphabetical Order

In [117]:
n=[202,51,151,100,0,-1]

In [118]:
n.sort() 
print(n) #[0,5,10,15,20]

[-1, 0, 51, 100, 151, 202]

In [ ]:
n

In [119]:
s=["Dog","Dom","Banana","Cat","Apple"] 
s.sort()

In [120]:
 
print(s) #['Apple','Banana','Cat','Dog']

['Apple', 'Banana', 'Cat', 'Dog', 'Dom']

**Note: To use sort() function, compulsory list should contain only homogeneous elements.
    otherwise we will get TypeError**

In [121]:
n=[20,10,"A","B"]

In [122]:
n.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [123]:
print(n)

[20, 10, 'A', 'B']

To sort in reverse of default natural sorting order:
We can sort according to reverse of default natural sorting order by using reverse=True argument.

In [124]:
n=[40,10,30,20] 
n.sort()
print(n)

[10, 20, 30, 40]

In [128]:
n.sort(reverse=True) 
print(n)

[40, 30, 20, 10]

In [131]:
n.sort(reverse=False) 
print(n)

[10, 20, 30, 40]

# Aliasing and Cloning of List objects:
The process of giving another reference variable to the existing list is called aliasing.

In [1]:
x=[10,20,30,40] 
#z = x   # here z is called alias of x as it's referrring same value as x
#print(x,z)

In [2]:
print(id(x))

2256648933824

In [3]:
y=x

In [4]:
print(id(y))

2256648933824

In [136]:
x,y

([10, 20, 30, 40], [10, 20, 30, 40])

In [137]:
x[0]=-999

In [138]:
x,y

([-999, 20, 30, 40], [-999, 20, 30, 40])

The problem in this approach is by using one reference variable 
if we are changing content,then those changes will be reflected to the other reference variable.

In [139]:
x=[10,20,30,40] 
y=x

In [140]:
y[1]=777

In [141]:
print(x,y)

[10, 777, 30, 40] [10, 777, 30, 40]

**To overcome this problem we should go for cloning. 
The process of creating exactly duplicate independent object is called cloning.
We can implement cloning by using slice operator or by using copy() function**

1. By using slice operator:

In [142]:
x=[10,20,30,40]

In [143]:
x[::]

[10, 20, 30, 40]

In [144]:
y=x[::]

In [145]:
y[1]=777

In [146]:
x

[10, 20, 30, 40]

In [147]:
print(x)#[10,20,30,40] 
print(y)#[10,777,30,40]

[10, 20, 30, 40]
[10, 777, 30, 40]

In [ ]:
id(x),id(y)

2. By using copy() function:

In [148]:
x=[10,20,30,40] 
y=x.copy()

In [149]:
y[1]=777

In [150]:
print(x) #[10,20,30,40] 
print(y) #[10,777,30,40]

[10, 20, 30, 40]
[10, 777, 30, 40]

In [155]:
# BY using for loop
x=[10,20,30,40] 
y =[]
for i in x:
    y.append(i)
    
print(x,y)
y.append(50)
print(x,y)

[10, 20, 30, 40] [10, 20, 30, 40]
[10, 20, 30, 40] [10, 20, 30, 40, 50]

Q. Difference between = operator and copy() function
= operator meant for aliasing copy() function meant for cloning

# Using Mathematical operators for List Objects:

In [156]:
2+3

5

In [157]:
2*3

6

In [158]:
"Python" + "Pyspark"

'PythonPyspark'

In [159]:
"Python"+" "+"Pyspark"

'Python Pyspark'

In [160]:
"Python" * 10

'PythonPythonPythonPythonPythonPythonPythonPythonPythonPython'

We can use + and * operators for List objects.

1. Concatenation operator(+):

In [ ]:
We can use + to concatenate 2 lists into a single list

In [112]:
a=[101,202,303] 
b=[404,505,606]

In [113]:
c=a+b

In [114]:
print(c)

[101, 202, 303, 404, 505, 606]

In [115]:
[11,22,33]+"python"

TypeError: can only concatenate list (not "str") to list

Note: To use + operator compulsory both arguments should be list objects,otherwise we will get TypeError.
Eg:
c=a+40 ==>TypeError: can only concatenate list (not "int") to list 
c=a+[40] ==>valid

2. Repetition Operator(*):

We can use repetition operator * to repeat elements of list specified number of times

In [7]:
x=[1001,2002,3003]

In [8]:
x*3

[1001, 2002, 3003, 1001, 2002, 3003, 1001, 2002, 3003]

In [9]:
y=x*3 
print(y)#[10,20,30,10,20,30,10,20,30]

[1001, 2002, 3003, 1001, 2002, 3003, 1001, 2002, 3003]

# Comparing List objects

We can use comparison operators for List objects.

In [7]:
x=["Python","Data Science","Data Engineer"] 
y=["Python","Data Science","Data Engineer"] 
z=['PYTHON', 'DATA SCIENCE', 'DATA ENGINEER']

In [8]:
id(x)

1315600022784

In [9]:
id(y)

1315599915584

# diff betwn is and "==" operator

is ----->checks both content and id
if both(content and id) are same then we will get True
otherwise False

"=="---->checks only content
if content is same then we will get True
otherwise False

In [10]:
x is y

False

In [11]:
print(x==y)

True

In [12]:
print(x==z)

False

In [13]:
print(x != z)

True

Note:
Whenever we are using comparison operators(==,!=) 
for List objects then the following should be considered 
1. The number of elements 
2. The order of elements 
3. The content of elements (case sensitive)
Note: When ever we are using relatational operators(<,<=,>,>=) between List objects,
only first element comparison will be performed.

In [172]:
x=[50,20,30] 
y=[40,50,60,100,200]

In [173]:
print(x>y) #True

True

In [174]:
print(x>=y)# True

True

In [175]:
print(x<y) #False

False

In [176]:
print(x<=y)# False

False

In [177]:
chr(65),chr(90),

('A', 'Z')

In [178]:
ord("A"),ord("Z"),ord("a"),ord("z")

(65, 90, 97, 122)

In [179]:
"A">"a"

False

In [180]:
"Z">"z"

False

In [181]:
x=["Dog","Cat","Rat"] 
y=["Rat","Cat","Dog"]

In [182]:
print(x>y)

False

In [27]:
print(x>=y)

False

In [28]:
print(x<y)

True

In [29]:
print(x<=y)

True

In [30]:
x=["dog","Cat","Rat"] 
y=["Rat","Cat","Dog"]

In [31]:
x<y

False

In [32]:
x>y

True

# Membership operators:

We can check whether element is a member of the list or not by using memebership operators.
in operator not in operator

In [33]:
n=[101,202,303,404]

In [34]:
101 in [101,202,303,404]

True

In [35]:
101 not in [101,202,303,404]

False

In [36]:
print (303 in n)

True

In [37]:
print (101 not in n)

False

In [38]:
print (505 in n)

False

In [39]:
print (505 not in n)

True

# clear() method:

We can use clear() function to remove all elements of List.

In [40]:
n=[101,202,303,404,505] 
print(n)

[101, 202, 303, 404, 505]

In [41]:
# list.clear()
n.clear()

In [42]:
print(n)

[]

In [183]:
del n
print(n)

NameError: name 'n' is not defined

# Nested Lists:

Sometimes we can take one list inside another list. Such type of lists are called nested lists.

In [10]:
my_list=['python','data analysis',['machine learning','SQL'],100,3.142]

In [48]:
my_list[2]

['machine learning', 'SQL']

In [49]:
l1=[1,2,3,[101,202,303]]

In [50]:
l1[0]

1

In [51]:
l1[3]

[101, 202, 303]

In [52]:
l1[3][2]

303

In [53]:
l1[3][0]

101

In [54]:
l1[3][1]

202

In [55]:
l1[3][2]

303

In [56]:
n=[10,20,[30,40]]

In [57]:
print(n)

[10, 20, [30, 40]]

In [58]:
print(n[0])

10

In [59]:
print(n[2])

[30, 40]

In [60]:
print(n[2][0])

30

In [61]:
print(n[2][1])

40

Note: We can access nested list elements by using index just like accessing multi dimensional array elements.

# List Comprehensions:

It is very easy and compact way of creating list objects from any iterable objects(like list,tuple,dictionary,range etc) based on some condition.
Syntax: list=[expression for item in list if condition]

In [62]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [63]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [64]:
for i in range(7,71,7):
    print(i)

7
14
21
28
35
42
49
56
63
70

In [65]:
import string

In [66]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [67]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [68]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [70]:
string.digits

'0123456789'

In [71]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [72]:
len(string.punctuation)

32

In [73]:
string.printable

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

In [75]:
print(list(string.printable))

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=', '>', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~', ' ', '\t', '\n', '\r', '\x0b', '\x0c']

In [76]:
my_list=(list(string.ascii_uppercase))
print(my_list,len(my_list))

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'] 26

In [78]:
my_list[0]

'A'

In [79]:
my_list[1]

'B'

In [80]:
my_list[2]

'C'

In [81]:
my_list[3]

'D'

In [82]:
for i in range(0,26):
    print(my_list[i])

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [83]:
list1=[]
for i in range(1,11):
    list1.append(i)

In [84]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# List Comprehensions:

In [86]:
tejas_list=[i for i in range(1,11)]

In [87]:
print(tejas_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [88]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [89]:
x=[i*i for i in range(5)]
x

[0, 1, 4, 9, 16]

In [90]:
s=[ x**x for x in range(1,8)] 
print(s)

[1, 4, 27, 256, 3125, 46656, 823543]

In [91]:
v=[2**x for x in range(1,6)] 
print(v)

[2, 4, 8, 16, 32]

In [92]:
s

[1, 4, 27, 256, 3125, 46656, 823543]

In [93]:
m=[x for x in s if x%2==0] 
print(m)

[4, 256, 46656]

In [189]:
words=["S.Somanath,Chairman,ISRO","P Veeramuthuvel,Project Director","S Unnikrishnan Nair,Director,Vikram Sarabhai Space Centre "]
l=[i[0:3:] for i in words] 
print(l)

['S.S', 'P V', 'S U']

In [191]:
num1=[10,20,30,40] 
num2=[30,40,50,60] 76

In [192]:
num3=[ i for i in num1 if i not in num2]

In [193]:
print(num3) #[10,20]

[10, 20]

In [98]:
for i in num1:
    if i not in num2:
        print(i)

10
20

common elements present in num1 and num2

In [99]:
num4=[i for i in num1 if i in num2] 
print(num4)# [30, 40]

[30, 40]

In [194]:
words="the quick brown fox jumps over the lazy dog".split() 
print(words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [195]:
l=[[w.upper(),len(w)] for w in words] 
print(l)

[['THE', 3], ['QUICK', 5], ['BROWN', 5], ['FOX', 3], ['JUMPS', 5], ['OVER', 4], ['THE', 3], ['LAZY', 4], ['DOG', 3]]

In [101]:
for i in words:
    print([i.upper(),len(i)],end=" ")

['S.SOMANATH,CHAIRMAN,ISRO', 24] ['P VEERAMUTHUVEL,PROJECT DIRECTOR', 32] ['S UNNIKRISHNAN NAIR,DIRECTOR,VIKRAM SARABHAI SPACE CENTRE ', 58]

In [104]:
num1=[10,20,30,40]

In [105]:
max(num1)

40

In [106]:
min([10,20,30,40])

10

In [107]:
sum([10,20,30,40])

100

In [108]:
len([10,20,30,40])

4

In [3]:
# Is python these is no such thing as a tuple comprenshion
my_list = [x * 2 for x in range(10)]
print(my_list)
type(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

list

In [4]:
my_list = tuple([x * 2 for x in range(10)])
print(my_list)
type(my_list)

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)

tuple