##### int     
float  
str  
bool 
complex

bytes
bytearray

list

tuple

set

frozenset

range

None

dict

# Dictionary Data Structure

We can use List,Tuple and Set to represent a group of individual objects as a single entity.

If we want to represent a group of objects as key-value pairs then we should go for Dictionary.


Eg: rollno 101 102
      name  "Saurabh","Mukesh
    
     phone number--address
    
    ipaddress---domain name
    
    
----->**Duplicate keys are not allowed but values can be duplicated.**

-----> **Hetrogeneous objects are allowed for both key and values.**
       
----->insertion order is not preserved Dictionaries are mutable 
      Dictionaries are dynamic indexing and
     slicing concepts are not applicable
    
    
Note: In C++ and Java Dictionaries are known as "Map" where as in Perl and Ruby it is known as "Hash"

# How to create Dictionary?

In [1]:
d1={}

In [2]:
type(d1)

dict

In [3]:
print(d1)
print(type(d1))

{}
<class 'dict'>

In [4]:
d2=dict()

In [5]:
print(d2)
print(type(d2))

{}
<class 'dict'>

In [6]:
d1=dict()
print(d1)
print(type(d1))

{}
<class 'dict'>

# we are creating empty dictionary. We can add entries as follows

In [7]:
md={'name':'sachin',
    'age':45,
    'salary':10000,
    'add':'Mumbai'}

In [8]:
print(md)

{'name': 'sachin', 'age': 45, 'salary': 10000, 'add': 'Mumbai'}

In [9]:
my_t20_team={
    
    'batsmen':['Rohith','Virat','SKY'],
    'wicket keeper':['RP','Sanju'],
    'All rounder':['Jaddu','Pandya','Bappu','Shivam'],
    'Bowlers':['Bumrah','Arshadip','Siraj','Kuldeep']
}

In [10]:
my_t20_team

{'batsmen': ['Rohith', 'Virat', 'SKY'],
 'wicket keeper': ['RP', 'Sanju'],
 'All rounder': ['Jaddu', 'Pandya', 'Bappu', 'Shivam'],
 'Bowlers': ['Bumrah', 'Arshadip', 'Siraj', 'Kuldeep']}

In [12]:
ipl_2024={
          "MI":["Rohith","SKY","Ishan","Bumrah","Hardik"],
         "CSK":["Ruturaj","MSD","Jaddu","Dube","Chahar"],
         "RCB":["Kohli","Glenn","Faf","Siraj","Rajat"]        
}

In [13]:
ipl_2024

{'MI': ['Rohith', 'SKY', 'Ishan', 'Bumrah', 'Hardik'],
 'CSK': ['Ruturaj', 'MSD', 'Jaddu', 'Dube', 'Chahar'],
 'RCB': ['Kohli', 'Glenn', 'Faf', 'Siraj', 'Rajat']}

In [14]:
d={
    "name":"Abhishek Sharma",
    "Age":24,
    "team":"SRH",
    "mentor":"Yuvraj singh"
}

In [15]:
d={"name":"Abhishek Sharma","Age":24,"team":"SRH","mentor":"Yuvraj singh"}

In [16]:
d

{'name': 'Abhishek Sharma', 'Age': 24, 'team': 'SRH', 'mentor': 'Yuvraj singh'}

In [17]:
players={
    "name":"Sachin 10dulkar",
    "centuries":100,
    "team":"INDIA",
    "Address":"mumbai"
}

In [18]:
players

{'name': 'Sachin 10dulkar',
 'centuries': 100,
 'team': 'INDIA',
 'Address': 'mumbai'}

In [19]:
ipl_2024

{'MI': ['Rohith', 'SKY', 'Ishan', 'Bumrah', 'Hardik'],
 'CSK': ['Ruturaj', 'MSD', 'Jaddu', 'Dube', 'Chahar'],
 'RCB': ['Kohli', 'Glenn', 'Faf', 'Siraj', 'Rajat']}

In [20]:
players

{'name': 'Sachin 10dulkar',
 'centuries': 100,
 'team': 'INDIA',
 'Address': 'mumbai'}

In [21]:
# name_of_dict["new key"]="new value"

In [22]:
players["Award"]="BharatRatn"

In [23]:
players

{'name': 'Sachin 10dulkar',
 'centuries': 100,
 'team': 'INDIA',
 'Address': 'mumbai',
 'Award': 'BharatRatn'}

In [24]:
players["IPL team"]="Mumbai Indians"

In [25]:
print(players)

{'name': 'Sachin 10dulkar', 'centuries': 100, 'team': 'INDIA', 'Address': 'mumbai', 'Award': 'BharatRatn', 'IPL team': 'Mumbai Indians'}

If we know data in advance then we can create dictionary as follows

In [28]:
d={10: 'Sachin', 44: 'Sehwagh', 99: 'Ashwin',7:'MSD',18:'Virat',93:'Jasprit'}
d
# d={key:value, key:value}

{10: 'Sachin',
 44: 'Sehwagh',
 99: 'Ashwin',
 7: 'MSD',
 18: 'Virat',
 93: 'Jasprit'}

In [30]:
player_d_century={
                    "Sachin Tendulkar":200,
                    "Virendra Sehwagh":219,
                    "Rohith Sharma":[209,201,264],
                    "Shubhman Gill":209,
                    "Ishan Kishan":200
                 }

In [31]:
player_d_century

{'Sachin Tendulkar': 200,
 'Virendra Sehwagh': 219,
 'Rohith Sharma': [209, 201, 264],
 'Shubhman Gill': 209,
 'Ishan Kishan': 200}

In [32]:
player_d_century["Martin Guptill"]=237

In [33]:
player_d_century

{'Sachin Tendulkar': 200,
 'Virendra Sehwagh': 219,
 'Rohith Sharma': [209, 201, 264],
 'Shubhman Gill': 209,
 'Ishan Kishan': 200,
 'Martin Guptill': 237}

In [34]:
player_d_century.clear()

In [35]:
player_d_century

{}

# How to access data from the dictionary?

In [ ]:
# name_of_dict["Key"]

We can access data by using keys.

key:value

In [36]:
d={100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav'}

In [37]:
d[100]

'Sachin'

In [38]:
d[200]

'Sehwagh'

In [39]:
d[300]

'Saurav'

If the specified key is not available then we will get KeyError

In [40]:
d[400]

KeyError: 400

In [41]:
print(d[600]) # KeyError: 400

KeyError: 600

We can prevent this by checking whether key is already available or not by using has_key() function or by using in operator.
d.has_key(400) ==> returns 1 if key is available otherwise returns 0
But has_key() function is available only in Python 2 but not in Python 3.
Hence compulsory we have to use in operator.

In [43]:
d.keys()

dict_keys([100, 200, 300])

In [44]:
player_d_century={'Sachin Tendulkar': 200,
 'Virendra Sehwagh': 219,
 'Rohith Sharma': [209, 208, 264],
 'Shubhman Gill': 209,
 'Ishan Kishan': 200,
 'Martin Guptill': 237}

In [45]:
player_d_century.keys()

dict_keys(['Sachin Tendulkar', 'Virendra Sehwagh', 'Rohith Sharma', 'Shubhman Gill', 'Ishan Kishan', 'Martin Guptill'])

In [46]:
player_d_century.values()

dict_values([200, 219, [209, 208, 264], 209, 200, 237])

In [47]:
player_d_century.items()

dict_items([('Sachin Tendulkar', 200), ('Virendra Sehwagh', 219), ('Rohith Sharma', [209, 208, 264]), ('Shubhman Gill', 209), ('Ishan Kishan', 200), ('Martin Guptill', 237)])

In [2]:
d={10: 'Sachin', 44: 'Sehwagh', 99: 'Ashwin',7:'MSD',18:'Virat',93:'Jasprit'}
d
# d={key:value, key:value}

{10: 'Sachin',
 44: 'Sehwagh',
 99: 'Ashwin',
 7: 'MSD',
 18: 'Virat',
 93: 'Jasprit'}

In [49]:
d.keys()

dict_keys([10, 44, 99, 7, 18, 93])

In [50]:
d.values()

dict_values(['Sachin', 'Sehwagh', 'Ashwin', 'MSD', 'Virat', 'Jasprit'])

In [51]:
d.items()

dict_items([(10, 'Sachin'), (44, 'Sehwagh'), (99, 'Ashwin'), (7, 'MSD'), (18, 'Virat'), (93, 'Jasprit')])

In [52]:
player_d_century

{'Sachin Tendulkar': 200,
 'Virendra Sehwagh': 219,
 'Rohith Sharma': [209, 208, 264],
 'Shubhman Gill': 209,
 'Ishan Kishan': 200,
 'Martin Guptill': 237}

In [53]:
lstt=[i for i in range(10,21,2)]
lstt

[10, 12, 14, 16, 18, 20]

In [54]:
10 in lstt

True

In [55]:
55 in lstt

False

In [56]:
lstt in 12

TypeError: argument of type 'int' is not iterable

In [57]:
12 in lstt

True

In [58]:
50 in lstt

False

In [59]:
player_d_century

{'Sachin Tendulkar': 200,
 'Virendra Sehwagh': 219,
 'Rohith Sharma': [209, 208, 264],
 'Shubhman Gill': 209,
 'Ishan Kishan': 200,
 'Martin Guptill': 237}

In [60]:
"Rohith Sharma" in player_d_century

True

In [61]:
"Rohith Sharma" not in player_d_century

False

In [62]:
219 in player_d_century

False

In [63]:
200 in player_d_century.values()

True

In [67]:
d

{10: 'Sachin',
 44: 'Sehwagh',
 99: 'Ashwin',
 7: 'MSD',
 18: 'Virat',
 93: 'Jasprit'}

In [69]:
if 10 in d: 
    print(d[10])

Sachin

In [3]:
if 200 in d: 
    print(d[200])

In [4]:
if 400 in d: 
    print(d[400])

# Q. Write a program to enter name and percentage marks in a dictionary and display information on the screen

In [1]:
rec={} 
n=int(input("Enter number of students: ")) 
i=1

Enter number of students: 2

In [2]:
while i <=n: 
    name=input("Enter Student Name: ") 
    marks=input("Enter % of Marks of Student: ") 
    rec[name]=marks 
    i=i+1 
print("Name of Student","\t","% of marks") 
for x in rec: 
    print("\t",x,"\t\t",rec[x])

Enter Student Name: 'Vijesh'
Enter % of Marks of Student: 93
Enter Student Name: 'Priyanka'
Enter % of Marks of Student: 90
Name of Student 	 % of marks
	 'Vijesh' 		 93
	 'Priyanka' 		 90

# How to update dictionaries?

**d[key]=value

**If the key is not available then a new entry will be added to the dictionary with the specified key-value pair

**If the key is already available then old value will be replaced with new value.**

In [72]:
d={100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav'} 
print(d)

{100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav'}

In [73]:
d[400]="MSD" 
print(d)

{100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav', 400: 'MSD'}

In [74]:
d[100]="Virat" 
print(d)

{100: 'Virat', 200: 'Sehwagh', 300: 'Saurav', 400: 'MSD'}

# How to delete elements from dictionary?

In [75]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [76]:
len(keyword.kwlist)

35

In [77]:
continue="Ajith"

SyntaxError: invalid syntax (2701005479.py, line 1)

In [78]:
False=99

SyntaxError: cannot assign to False (3053991953.py, line 1)

In [79]:
x=100

In [80]:
print(x)

100

In [81]:
print(id(x))

140736676863880

In [82]:
del x

In [83]:
print(x)

NameError: name 'x' is not defined

del d[key]

It deletes entry associated with the specified key. If the key is not available then we will get KeyError

In [84]:
d={100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}
print(d)

{100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [85]:
del d[200]

In [86]:
d

{100: 'Sachin', 300: 'Saurav', 400: 'Zaheer'}

In [87]:
del d[200]

KeyError: 200

In [88]:
d

{100: 'Sachin', 300: 'Saurav', 400: 'Zaheer'}

In [89]:
del d[100]

In [90]:
print(d)

{300: 'Saurav', 400: 'Zaheer'}

In [91]:
del d[400]
print(d)

{300: 'Saurav'}

In [92]:
del d[300]

In [93]:
d

{}

In [94]:
del d

# d.clear()

To remove all entries from the dictionary

In [95]:
d={100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [96]:
print(d)

{100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [97]:
d.clear()

In [98]:
print(d)

{}

# del d

To delete total dictionary.Now we cannot access d

In [99]:
d={100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [100]:
print(d)

{100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [101]:
del d

In [102]:
print(d)

NameError: name 'd' is not defined

# Important methods of dictionary:

# 1. dict():

To create a dictionary
d=dict() ===>It creates empty dictionary

In [103]:
dict({1:"one",
      2:"Two",
     3:"Three"})

{1: 'one', 2: 'Two', 3: 'Three'}

In [104]:
d=dict({100:"MS Dhoni",200:"Virat Kohli"}) #==>It creates dictionary with specified elements 
print(d)

{100: 'MS Dhoni', 200: 'Virat Kohli'}

In [105]:
d=dict([(100,"KL Rahul"),(200,"Shubhmann Gill"),(300,"Suryakumar")])#==>It creates dictionary with the given list of tuple elements
print(d)

{100: 'KL Rahul', 200: 'Shubhmann Gill', 300: 'Suryakumar'}

# 2. len()

In [106]:
len(d)

3

Returns the number of items in the dictionary

# 3. clear():

To remove all elements from the dictionary

# 4. get():

To get the value associated with the key
d.get(key) If the key is available then returns the corresponding value otherwise returns None.It wont raise any error.

d.get(key,defaultvalue) If the key is available then returns the corresponding value otherwise returns default value.

In [107]:
d={100: 'KL Rahul', 200: 'Shubhmann Gill', 300: 'Suryakumar'}

In [108]:
d[100]

'KL Rahul'

In [109]:
d.get(100)

'KL Rahul'

In [110]:
d[400]

KeyError: 400

In [111]:
print(d[300])

Suryakumar

In [112]:
d

{100: 'KL Rahul', 200: 'Shubhmann Gill', 300: 'Suryakumar'}

In [113]:
print(d.get(100))
print(d[100])

KL Rahul
KL Rahul

In [114]:
print(d.get(400))

None

In [115]:
d

{100: 'KL Rahul', 200: 'Shubhmann Gill', 300: 'Suryakumar'}

In [116]:
d.get(300,"Python")

'Suryakumar'

In [118]:
print(d.get(1000))

None

In [119]:
d.get(1000,"MSD")

'MSD'

In [120]:
print(d.get(500,"Guest"))

Guest

In [121]:
print(d.get(400,"NeW Guest"))

NeW Guest

In [122]:
d

{100: 'KL Rahul', 200: 'Shubhmann Gill', 300: 'Suryakumar'}

# 3. pop():

d.pop(key)

It removes the entry associated with the specified key and returns the corresponding value
If the specified key is not available then we will get KeyError

In [129]:
d={100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [144]:
p_list=[101,202,True,'Netrawalkar',"python"]

In [145]:
p_set=set(pop_list)

In [146]:
p_dict={100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [147]:
p_list

[101, 202, True, 'Netrawalkar', 'python']

In [148]:
p_set

{101, 202, False, True, 'python'}

In [149]:
p_dict

{100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [143]:
# print(pop_set)

In [150]:
p_list.pop(1)

202

In [151]:
p_set.pop()

False

In [152]:
p_dict.pop(200)

'Sehwagh'

In [154]:
print(p_dict)

{100: 'Sachin', 300: 'Saurav', 400: 'Zaheer'}

In [155]:
print(p_dict.pop(100))

Sachin

In [156]:
print(p_dict.pop(400))

Zaheer

In [157]:
print(pop_dict)

{100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [158]:
pop_dict.pop()

TypeError: pop expected at least 1 argument, got 0

# 4. popitem():

It removes an arbitrary item(key-value) from the dictionaty and returns it.

In [165]:
d={200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}
print(d)

{200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [166]:
print(d.popitem())

(400, 'Zaheer')

In [167]:
print(d)

{200: 'Sehwagh', 300: 'Saurav'}

In [168]:
print(d.popitem())

(300, 'Saurav')

In [169]:
d

{200: 'Sehwagh'}

In [170]:
print(d.popitem())

(200, 'Sehwagh')

In [171]:
d

{}

In [172]:
print(d.popitem())

KeyError: 'popitem(): dictionary is empty'

In [173]:
list1=["C++","M1","M3","TOC"]

In [174]:
list1.pop(0)

'C++'

In [175]:
list1.pop()

'TOC'

in list pop method has index as parameter
if not then default parameter will -1

In [176]:
set1={"C++","M1","M3","TOC"}

In [177]:
set1.pop()

'M3'

In [178]:
set1.pop()

'C++'

In [179]:
set1.pop()

'M1'

In [180]:
set1.pop()

'TOC'

In [181]:
set1.pop()

KeyError: 'pop from an empty set'

# If the dictionary is empty then we will get KeyError

In [ ]:
d={}
print(d.popitem())# ==>KeyError: 'popitem(): dictionary is empty'

# 5. keys():

It returns all keys associated eith dictionary

In [182]:
d={200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [183]:
d.keys()

dict_keys([200, 300, 400])

In [184]:
print(d.keys())

dict_keys([200, 300, 400])

In [185]:
d

{200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [186]:
list1=["C++","M1","M3","TOC"]

In [187]:
for i in list1:
    print(i)

C++
M1
M3
TOC

In [188]:
d.keys()

dict_keys([200, 300, 400])

In [189]:
for i in d.keys():
    print(i)

200
300
400

In [190]:
d

{200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [191]:
for i in d.values():
    print(i)

Sehwagh
Saurav
Zaheer

In [192]:
print(d.items())

dict_items([(200, 'Sehwagh'), (300, 'Saurav'), (400, 'Zaheer')])

In [193]:
for i in d.items():
    print(i)

(200, 'Sehwagh')
(300, 'Saurav')
(400, 'Zaheer')

In [194]:
for k,v in d.items():
    print(k,v)

200 Sehwagh
300 Saurav
400 Zaheer

In [195]:
for i in d.keys():
    print(i+1001)

1201
1301
1401

In [196]:
d

{200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [197]:
for i in d.values():
    print(i.upper())

SEHWAGH
SAURAV
ZAHEER

In [198]:
for i in d.keys():
    print(i)

200
300
400

# 6. values():

It returns all values associated with the dictionary

In [199]:
d={200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [200]:
d.values()

dict_values(['Sehwagh', 'Saurav', 'Zaheer'])

In [201]:
print(d.values())

dict_values(['Sehwagh', 'Saurav', 'Zaheer'])

In [202]:
for i in d.values():
    print(i[0:4])

Sehw
Saur
Zahe

# 7. items():

It returns list of tuples representing key-value pairs.
[(k,v),(k,v),(k,v)]

In [203]:
d

{200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [204]:
print(d.items())

dict_items([(200, 'Sehwagh'), (300, 'Saurav'), (400, 'Zaheer')])

In [205]:
for k,v in d.items():
    print(k,v)

200 Sehwagh
300 Saurav
400 Zaheer

In [206]:
for i,j in d.items():
    print(i,j)

200 Sehwagh
300 Saurav
400 Zaheer

In [207]:
for key,value in d.items():
    print(key,"---->",id(key))
    print(value,"---->",id(value))

200 ----> 140736676867080
Sehwagh ----> 1939719959536
300 ----> 1939739607920
Saurav ----> 1939720040688
400 ----> 1939739607984
Zaheer ----> 1939735534000

In [208]:
print(key,value)
print(key,"---->",id(key))
print(value,"---->",id(value))

400 Zaheer
400 ----> 1939739607984
Zaheer ----> 1939735534000

In [209]:
d.items()

dict_items([(200, 'Sehwagh'), (300, 'Saurav'), (400, 'Zaheer')])

In [210]:
for k,v in d.items():
    print(k,v)

200 Sehwagh
300 Saurav
400 Zaheer

In [212]:
for u,m in d.items(): 
    print(u,m)

200 Sehwagh
300 Saurav
400 Zaheer

In [213]:
for key,value in d.items(): 
    print(key,value)

200 Sehwagh
300 Saurav
400 Zaheer

In [214]:
for mohini in d.items(): 
    print(mohini)

(200, 'Sehwagh')
(300, 'Saurav')
(400, 'Zaheer')

# 8. copy():

# To create exactly duplicate dictionary(cloned copy)

In [215]:
d={200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [216]:
d1=d.copy()

In [217]:
print(d1,d)

{200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'} {200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [218]:
id(d)

1939739108672

In [219]:
id(d1)

1939739108800

In [220]:
x=100
y=100

In [221]:
print(id(x),id(y))
print(x,y)

140736676863880 140736676863880
100 100

In [222]:
a1=255
b1=255
c1=255

In [223]:
id(a1),id(b1),id(c1)

(140736676868840, 140736676868840, 140736676868840)

In [224]:
a1=256
b1=256
c1=256

In [225]:
id(a1),id(b1),id(c1)

(140736676868872, 140736676868872, 140736676868872)

In [226]:
a1=257
b1=257
c1=257

In [227]:
id(a1),id(b1),id(c1)

(1939739611088, 1939739611408, 1939739611056)

In [228]:
x is y

True

In [229]:
x==y

True

In [230]:
d is d1

False

In [231]:
d==d1

True

In [232]:
d2=d

In [233]:
print(d,d2)

{200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'} {200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [234]:
print(id(d2),id(d))

1939739108672 1939739108672

In [235]:
d2 is d

True

In [236]:
d2==d

True

# 9. setdefault():

d.setdefault(k,v) If the key is already available then this function returns the corresponding value. 

If the key is not available then the specified key-value will be added as new item to the dictionary.

In [238]:
d={100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [239]:
d

{100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer'}

In [240]:
print(d.setdefault(500,"Bhajjy"))

Bhajjy

In [241]:
print(d)

{100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer', 500: 'Bhajjy'}

In [242]:
print(d.setdefault(100,"Kumble"))

Sachin

In [243]:
print(d)

{100: 'Sachin', 200: 'Sehwagh', 300: 'Saurav', 400: 'Zaheer', 500: 'Bhajjy'}

In [245]:
d.setdefault(93,'Jasprit')

'Jasprit'

In [246]:
d

{100: 'Sachin',
 200: 'Sehwagh',
 300: 'Saurav',
 400: 'Zaheer',
 500: 'Bhajjy',
 93: 'Jasprit'}

In [247]:
d.setdefault(93,'RP')

'Jasprit'

In [248]:
d.setdefault(200,'MSD')

'Sehwagh'

In [249]:
d.setdefault(24,'M Choudhary')

'M Choudhary'

In [250]:
d

{100: 'Sachin',
 200: 'Sehwagh',
 300: 'Saurav',
 400: 'Zaheer',
 500: 'Bhajjy',
 93: 'Jasprit',
 24: 'M Choudhary'}

# 10. update():

d.update(x) All items present in the dictionary x will be added to dictionary d

In [251]:
d

{100: 'Sachin',
 200: 'Sehwagh',
 300: 'Saurav',
 400: 'Zaheer',
 500: 'Bhajjy',
 93: 'Jasprit',
 24: 'M Choudhary'}

In [252]:
d.update({"D":400})

In [253]:
d

{100: 'Sachin',
 200: 'Sehwagh',
 300: 'Saurav',
 400: 'Zaheer',
 500: 'Bhajjy',
 93: 'Jasprit',
 24: 'M Choudhary',
 'D': 400}

In [254]:
d.update({"Don":"Amitabhachan"})

In [255]:
d

{100: 'Sachin',
 200: 'Sehwagh',
 300: 'Saurav',
 400: 'Zaheer',
 500: 'Bhajjy',
 93: 'Jasprit',
 24: 'M Choudhary',
 'D': 400,
 'Don': 'Amitabhachan'}

In [258]:
d.update([(1,2)])

In [260]:
d.update([(1,'Abhishek'),(2,'Aditya')])

In [261]:
d

{100: 'Sachin',
 200: 'Sehwagh',
 300: 'Saurav',
 400: 'Zaheer',
 500: 'Bhajjy',
 93: 'Jasprit',
 24: 'M Choudhary',
 'D': 400,
 'Don': 'Amitabhachan',
 1: 'Abhishek',
 2: 'Aditya'}

# Q. Write a program to take dictionary from the keyboard and print the sum of values?

In [262]:
x=input("enter a  number")

enter a  number100

In [263]:
x

'100'

In [264]:
y=int(input('enter a number'))

enter a number101

In [265]:
y,type(y)

(101, int)

In [266]:
f=float(input('enter a number'))

enter a number9.8

In [267]:
f,type(f)

(9.8, float)

In [268]:
# tpye casting to int
num=int(input("enter a number"))

enter a number10

In [269]:
type(num)

int

In [270]:
# tpye casting to float
numf=float(input("enter a number"))

enter a number3.142

In [271]:
type(numf)

float

In [272]:
# tpye casting to bool
b=bool(input("enter a number"))

enter a number202

In [273]:
b,type(b)

(True, bool)

In [274]:
# tpye casting to complex
c1=complex(input("enter a number"))

enter a number1+4j

In [275]:
c1,type(c1)

((1+4j), complex)

In [276]:
evlst=eval(input("enter a number"))

enter a number(3+4*10/2-3**2)

In [277]:
evlst

14.0

In [278]:
set1=eval(input("enter a number"))

enter a number{1,2,3,4,5}

In [279]:
set1

{1, 2, 3, 4, 5}

In [280]:
obj=eval(input("enter a number"))

enter a number{1:2,2:4,3:9}

In [281]:
obj

{1: 2, 2: 4, 3: 9}

In [282]:
d=eval(input("Enter dictionary:")) 
#{'A':100,'B':200,'C':300}

Enter dictionary:{'A':100,'B':200,'C':300}

In [283]:
d

{'A': 100, 'B': 200, 'C': 300}

In [284]:
d.values()

dict_values([100, 200, 300])

In [285]:
sum(d.values())

600

In [ ]:
min()

In [ ]:
max()
sum()
len()

In [286]:
min(101,45)

45

In [287]:
max(202,456)

456

In [288]:
sum([1,2,3])

6

In [289]:
sum(d.values())

600

In [290]:
s=sum(d.values())

In [291]:
print("Sum= ",s)

Sum=  600

In [292]:
d1={
    "A":"100",
    "B":200
}

In [293]:
sum(d1.values())

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [294]:
a=10
b=20

In [295]:
x=eval(input())

[101,202]

In [296]:
x

[101, 202]

# Q. Write a program to find number of occurrences of each letter present in the given string?

In [297]:
word=input("Enter any word: ") 
d={}

Enter any word: abracadabra

In [298]:
word

'abracadabra'

In [299]:
for x in word: 
    d[x]=d.get(x,0)+1

In [300]:
d

{'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1}

In [301]:
for k,v in d.items(): 
    print(k,"occurred ",v," times")

a occurred  5  times
b occurred  2  times
r occurred  2  times
c occurred  1  times
d occurred  1  times

# Method 2

In [302]:
s="abracadabra"

In [304]:
ds={}

In [305]:
for i in s:
    if i in ds:
        ds[i]+=1
    else:
        ds[i]=1

In [306]:
ds

{'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1}

In [307]:
print(ds)

{'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1}

In [308]:
s

'abracadabra'

In [309]:
s.count("a")

5

In [310]:
s.count("b")

2

In [311]:
s.count("r")

2

# Method 3

In [312]:
from collections import Counter

In [313]:
s="abracadabra"

In [314]:
Counter(s)

Counter({'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1})

In [315]:
dict(Counter(s))

{'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1}

# Q. Write a program to find number of occurrences of each vowel present in the given string?

In [316]:
word=input("Enter any word: ") 
vowels={'a','e','i','o','u'}

Enter any word: india

In [317]:
d={} 
for x in word: 
    if x in vowels: 
        d[x]=d.get(x,0)+1

In [318]:
 
for k,v in sorted(d.items()): 
    print(k,"occurred ",v," times")

a occurred  1  times
i occurred  2  times

In [319]:
list_c=[ i*i for i in range(1,11)]

In [320]:
list_c

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Dictionary Comprehension:

Comprehension concept applicable for dictionaries also.

In [321]:
{i:i*i for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# {num:num*num}
# {1:1,2:4,3:9.......10:100}

In [322]:
{i:i**i for i in range(1,11)}

{1: 1,
 2: 4,
 3: 27,
 4: 256,
 5: 3125,
 6: 46656,
 7: 823543,
 8: 16777216,
 9: 387420489,
 10: 10000000000}

In [323]:
{i:i**0.5 for i in range(1,11)}

{1: 1.0,
 2: 1.4142135623730951,
 3: 1.7320508075688772,
 4: 2.0,
 5: 2.23606797749979,
 6: 2.449489742783178,
 7: 2.6457513110645907,
 8: 2.8284271247461903,
 9: 3.0,
 10: 3.1622776601683795}

In [324]:
squares={x:x*x for x in range(1,6)} 
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [325]:
x_raise_to_the_power={x:2**x for x in range(1,6)} 
print(x_raise_to_the_power)

{1: 2, 2: 4, 3: 8, 4: 16, 5: 32}